@model IndexViewModel
@{
    ViewBag.Title = "Admin panel";
}

<h1 class="text-center">@ViewBag.Title</h1>

<hr />

<div class="row container-fluid text-center">
    <div class="col-md-3">
        <div class="badge">
            <a class="btn btn-outline-danger" asp-area="Administration" asp-controller="Home" asp-action="Feedbacks" asp-route-id="1">View All Feedbacks here</a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="badge">
            <a class="btn btn-outline-secondary" asp-area="Administration" asp-controller="Doctor" asp-action="AppliedDoctors" asp-route-id="1">View All Doctors here</a>
        </div>
    </div>
    <div class="col-md-3 ">
        <div class="badge">
            <a class="btn btn-outline-info" asp-area="Administration" asp-controller="Specialization" asp-action="All">View all specializations here</a>
        </div>
        <div class="badge">
            <a class="btn btn-outline-info" asp-area="Administration" asp-controller="Specialization" asp-action="Create">Create new specialization here</a>
        </div>
    </div>
    <div class="col-md-3 ">
        <div class="badge">
            <a class="btn btn-outline-primary" asp-area="Administration" asp-controller="Town" asp-action="All">View all towns here</a>
        </div>
        <div class="badge">
            <a class="btn btn-outline-primary" asp-area="Administration" asp-controller="Town" asp-action="Create">Create new town here</a>
        </div>
    </div>
</div>