@model AppointmentRateFormModel
@{
    ViewBag.Title = $"Rate your appointment with Dr. {@Model.Doctor.FullName}";
}

<h3 class="text-center">@ViewBag.Title</h3>

<br />

<div class="justify-content-center col-4 offset-4">
    <img src="@Model.Doctor.ImageUrl" alt="@Model.Doctor..FullName" class="img-fluid card-img border-light ">
</div>

<hr />
<form method="post" class="col-md-4 offset-md-4">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="container">
        <div class="starrating1 d-flex justify-content-center flex-row-reverse">
            <input type="radio" id="star5" asp-for="Number" value="5" /><label for="star5" title="5 star"></label>
            <input type="radio" id="star4" asp-for="Number" value="4" /><label for="star4" title="4 star"></label>
            <input type="radio" id="star3" asp-for="Number" value="3" /><label for="star3" title="3 star"></label>
            <input type="radio" id="star2" asp-for="Number" value="2" /><label for="star2" title="2 star"></label>
            <input type="radio" id="star1" asp-for="Number" value="1" /><label for="star1" title="1 star"></label>
        </div>
    </div>

    <br />

    <div class="form-group">
        <textarea asp-for="Comment" class="form-control" rows="2" placeholder="Enter your comment here..."></textarea>
        <span asp-validation-for="Comment" class="text-danger"></span>
    </div>

    <div class="col-md-12 text-center">
        <input type="submit" class="btn btn-primary" />
    </div>
</form>

