@using MedEx.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Account</a>
        </li>
        if (User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            <div class="dropdown show">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Admin
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" asp-area="Administration" asp-controller="Doctor" asp-action="AppliedDoctors" asp-route-id="1">View All Applied Doctors</a>
                    <a class="dropdown-item" asp-area="Administration" asp-controller="Home" asp-action="Index">Admin Panel</a>
                </div>
            </div>
        }
        if (User.IsInRole(GlobalConstants.DoctorRoleName))
        {
            <div class="dropdown show">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Doctor
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" asp-area="DoctorRole" asp-controller="Doctor" asp-action="Edit">Edit profile</a>
                    <a class="dropdown-item" asp-area="DoctorRole" asp-controller="Appointment" asp-action="Index">View appointments</a>
                    <a class="dropdown-item" asp-area="" asp-controller="Chat" asp-action="All">Messages</a>
                </div>

            </div>
        }
        if (User.IsInRole(GlobalConstants.PatientRoleName))
        {
            <div class="dropdown show">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Patient
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" asp-area="PatientRole" asp-controller="Patient" asp-action="Edit">Edit profile</a>
                    <a class="dropdown-item" asp-area="PatientRole" asp-controller="Appointment" asp-action="Index">View appointments</a>
                    <a class="dropdown-item" asp-area="" asp-controller="Chat" asp-action="All">Messages</a>
                </div>
            </div>
        }
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = string.Empty })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
