@using MedEx.Common
@using MedEx.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
        </li>
        if (User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            <div class="dropdown show">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Admin
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" asp-area="Administration" asp-controller="Doctor" asp-action="AppliedDoctors" asp-route-id="1">View All Doctors</a>
                    <a class="dropdown-item" asp-area="Administration" asp-controller="Specialization" asp-action="Create">Create new specialization</a>
                    <a class="dropdown-item" asp-area="Administration" asp-controller="Town" asp-action="Create">Create new town</a>
                </div>
            </div>
        }
        if (User.IsInRole(GlobalConstants.DoctorRoleName))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="DoctorRole" asp-controller="Dashboard" asp-action="Index" >Doctor</a>
            </li>
        }
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = string.Empty })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
