@{
    ViewBag.Title = "Bad Request";
}

@section head{
<style type="text/css">
    body {
        background-image: url('/img/homepage.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
</style>
}
<div class="jumbotron-opacity">
    <div class="row ml-5">
        <div class="row">
            <div class="col-7">
                <img src="/img/error.jpeg" class="img-thumbnail mt-2 mb-2" />
            </div>
            <div class="col-5 pt-2">
                <h1 class="medex-color">Oops!</h1>
                <h2>400</h2>
                <h3>Bad Request!</h3>
            </div>
        </div>
    </div>
</div>