@{
    ViewData["Title"] = "Messages";
}

<div class="container">
    <br />
    <div class="row no-gutters">
        <div class="col-md-6 offset-3">
            <h1 class="text-center">
                @ViewData["Title"]
            </h1>
            <hr />

            <vc:chat-conversations></vc:chat-conversations>

        </div>
    </div>
</div>
