@{
    ViewBag.Title = "Messages";
}

<div class="container mt-3">
        <div class="col-md-12">
            <h1 class="text-center">
                @ViewBag.Title
                
                <hr/>
            </h1>
            <div class="row">
                <vc:chat-conversations></vc:chat-conversations>
            </div>
        </div>
</div>
