@model MedEx.Web.ViewModels.Administration.Dashboard.IndexViewModel
@{
    ViewData["Title"] = "Admin dashboard";
}

<h1>@ViewData["Title"]</h1>

<li class="nav-item">
    <a class="nav-link text-dark" asp-area="Administration" asp-controller="Dashboard" asp-action="AppliedDoctors" asp-route-id="1">View All Doctors</a>
</li>
