@model MedEx.Web.ViewModels.Index.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
    var specializationItems = Model.SpecializationItems.Select(s => new SelectListItem(s.Value, s.Key));
    var townItems = Model.TownItems.Select(s => new SelectListItem(s.Value, s.Key));
}

<div class="text-center">
    <h1 class="col-md-6">Welcome to @GlobalConstants.SystemName!</h1>
</div>
fix inc